---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
Building Stubbornly Resilient Python Code

A Book by Bruce Eckel
`;
---

<Layout title="Thinking in Types">
    <ContextAlert class="mb-4" />
    <h1 class="mb-10">Thinking in Types</h1>
    <Markdown content={explainer} class="text-lg mb-10" />
    <p class="mb-8">
        <a href="https://thinking-in-types.github.io/ThinkingInTypes_Book/" class="btn btn-lg btn-primary sm:btn-wide">Online Book</a>
    </p>
</Layout>
